:root {
  --clr-bg-dark: #2c3036;
  --clr-bg-darkbg: #282C33;
  --clr-bg-light: #fff;
  --clr-bg-lightbg: #f9f9f9;

  --clr-text-dark: #282C33;
  --clr-text-light: #ABB2BF;
}

.dark {
  background-color: var(--clr-bg-dark) !important;
  color: var(--clr-text-light) !important;
  fill: var(--clr-bg-dark);
  border-color: var(--clr-bg-light);
}

.light {
  background-color: var(--clr-bg-light) !important;
  background: var(--clr-bg-light) !important;
  color: var(--clr-text-dark);
  fill: var(--clr-bg-light);
  border-color: var(--clr-bg-dark);
}

.dark-nav {
  background-color: rgb(44 48 54 / 40%);
  color: var(--clr-text-light) !important;
  fill: var(--clr-bg-dark);
  border-color: var(--clr-bg-light);
}

.light-nav {
  background-color: rgb(255 255 255 / 70%);
  color: var(--clr-text-dark);
  fill: var(--clr-bg-light);
  border-color: var(--clr-bg-dark);
}

.dark-fill {
  color: #282C33;
  fill: var(--clr-bg-dark);
}

.white {
  color: #fff;
  fill: var(--clr-bg-light);
}


/* .app {
  height: 100vh;
} */

.scrollbar-track{
  /* background-color: transparent !important; */
}

.scrollbar-track-y{
  /* width:12px !important; */
}


.scrollbar-thumb{
  /* width:12px !important; */
  /* background-color: black !important; */
  /* border-radius: 0 !important; */
  height: 2rem !important;
}

